body{
font: 16px/100% Arial, Helvetica, sans-serif;
display: flex;
flex-direction: column;
background-color: black;
}
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
.container{
margin: 0 auto;
width: 100%;
max-width: 1200px;
padding: 0 15px;
}
.form{
display: flex;
flex-direction: column;
}
.contact-us{
display: flex;
flex-direction: column;
align-items: center;
}
.form-wrapper{
display: flex;
}
.button{

}